.station-header {
    position: relative;
    height: 36px;
    padding: 0;
}
.station-header__name {
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
.station-header__wind {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    overflow: hidden;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.station-header__mean {
    flex: 16px 1 0;
    padding-right: 5px;
    line-height: 36px;
}
.station-header__mean.has-gust {
    line-height: 22px;
}
.station-header__gust {
    flex: 14px 1 0;
    padding-right: 5px;
    font-size: 0.7em;
    line-height: 14px;
}