@import '../variables.css';

.station-header {
    position: relative;
    height: 36px;
    padding: 0;
}
.station-header__star {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.station-header__name {
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
.station-header__wind {
    position: absolute;
    top: 0px;
    left: 35px;
    right: 0px;
    height: 100%;
    overflow: hidden;
    text-align: right;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--colorNotWhite);
}
.station-header__mean {
    flex: 16px 1 0;
    padding-right: 5px;
    line-height: 36px;
}
.station-header__mean.has-gust {
    line-height: 22px;
}
.station-header__gust {
    flex: 14px 1 0;
    padding-right: 5px;
    font-size: 0.7em;
    line-height: 14px;
}
.station-header__direction {
    margin-right: 0.5em;
    font-size: 0.9em;
}

.separator {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--colorLivewind);
    color: var(--colorNotWhite);
    z-index: 1;
    text-align: center;
    line-height: var(--separatorHeight);
    border-top: 1px solid;
}
.separator.country {
    border-top-width: 0px;
}
.separator.region {
    top: var(--separatorHeight);
}