@import './variables.css';

body {
    font-family: sans-serif;
    font-size: var(--baseFontSize);
    user-select: none;
    margin: 0;
    background: var(--colorNotWhite);
    color: var(--colorDefaultText);
}

.livewind__content {
    position: absolute;
    top: var(--headerHeight);
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.livewind__page {
    height: 100%;
    overflow: auto;
}