:root {
    --headerHeight: 39px;
    --baseFontSize: 16px;
    --bigFontSize: 18px;
    --smallFontSize: 14px;
    --separatorHeight: 19px;
    
    --colorNotWhite: #F5F6FA;
    --colorGray: #E5E8EB;
    --colorDarkGray: #C5C8CB;
    --colorLivewind: #466789;
    --colorDarkLivewind: #2D4258;
    --colorDefaultText: #090C10;
}